CeitconPlayerDownloader/Service References/CeitconServerService/Ceitcon_Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ceitcon_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ceitcon_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:complexType name="DownloadRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Offset" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DownloadRequest" nillable="true" type="tns:DownloadRequest" />
  <xs:complexType name="RemoteFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BufferSize" type="xs:int" />
      <xs:element minOccurs="0" name="Client" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="Data" nillable="true" type="q1:MemoryStream" />
      <xs:element minOccurs="0" name="DataArray" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="End" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileList" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Length" type="xs:long" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Start" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemoteFileInfo" nillable="true" type="tns:RemoteFileInfo" />
  <xs:complexType name="SyncResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SyncResponse" nillable="true" type="tns:SyncResponse" />
</xs:schema>