CeitconPlayerDownloader/Service References/CeitconServerService/Microsoft.ServiceModel.Samples.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Microsoft.ServiceModel.Samples" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.ServiceModel.Samples/Imports">
      <xsd:import namespace="http://Microsoft.ServiceModel.Samples" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Ceitcon_Service" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICeitconServer_ReadCDPFile_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadCDPFile" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_ReadCDPFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadCDPFileResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_DownloadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFile" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_DownloadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFileResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_CheckUploadSceduler_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUploadSceduler" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_CheckUploadSceduler_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUploadScedulerResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_GetPreviosOffSet_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPreviosOffSet" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_GetPreviosOffSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPreviosOffSetResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_UploadScedulerCDP_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadScedulerCDP" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_UploadScedulerCDP_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadScedulerCDPResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_UploadScedulerChunk_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadScedulerChunk" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_UploadScedulerChunk_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadScedulerChunkResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_ClearDictory_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearDictory" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_ClearDictory_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearDictoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_UploadSceduler_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadSceduler" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_UploadSceduler_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadScedulerResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_DeleteSceduler_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSceduler" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_DeleteSceduler_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteScedulerResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_GetSceduler_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSceduler" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_GetSceduler_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScedulerResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_GetAllScedulers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllScedulers" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_GetAllScedulers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllScedulersResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_LoginUser_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginUser" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_LoginUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_GetGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroups" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_GetGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_GetNetwork_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNetwork" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_GetNetwork_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNetworkResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_UpdateNetwork_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNetwork" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_UpdateNetwork_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNetworkResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_DeleteNetwork_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNetwork" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_DeleteNetwork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNetworkResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_CheckPlayerName_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPlayerName" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_CheckPlayerName_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPlayerNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_CheckPlayerExist_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPlayerExist" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_CheckPlayerExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPlayerExistResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_CheckFreeLicence_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckFreeLicence" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_CheckFreeLicence_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckFreeLicenceResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_GetPlayerName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerName" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_GetPlayerName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_GetPlayerInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerInfo" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_GetPlayerInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_RegistratePlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistratePlayer" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_RegistratePlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistratePlayerResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_UpdatePlayerStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerStatus" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_UpdatePlayerStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_GetPlayerRefresh_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerRefresh" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_GetPlayerRefresh_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerRefreshResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_UpdatePlayerRefresh_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerRefresh" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_UpdatePlayerRefresh_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayerRefreshResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_GetWeathers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeathers" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_GetWeathers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeathersResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_RegistredPlayerCount_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistredPlayerCount" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_RegistredPlayerCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistredPlayerCountResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_GetPlayerLicence_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerLicence" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_GetPlayerLicence_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerLicenceResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_DisconnectPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectPlayer" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_DisconnectPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_StopPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:StopPlayer" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_StopPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_GetDataSources_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSources" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_GetDataSources_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataSourcesResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_InsertDataSource_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertDataSource" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_InsertDataSource_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertDataSourceResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_UpdateDataSource_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDataSource" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_UpdateDataSource_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDataSourceResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_DeleteDataSource_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDataSource" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_DeleteDataSource_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDataSourceResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_GetDataRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataRecords" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_GetDataRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_UpdateLogo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLogo" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_UpdateLogo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLogoResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_DeleteLogo_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLogo" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_DeleteLogo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLogoResponse" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_GetLogos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogos" />
  </wsdl:message>
  <wsdl:message name="ICeitconServer_GetLogos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogosResponse" />
  </wsdl:message>
  <wsdl:portType name="ICeitconServer">
    <wsdl:operation name="ReadCDPFile">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/ReadCDPFile" message="tns:ICeitconServer_ReadCDPFile_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/ReadCDPFileResponse" message="tns:ICeitconServer_ReadCDPFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/TestConnection" message="tns:ICeitconServer_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/TestConnectionResponse" message="tns:ICeitconServer_TestConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/DownloadFile" message="tns:ICeitconServer_DownloadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/DownloadFileResponse" message="tns:ICeitconServer_DownloadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUploadSceduler">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/CheckUploadSceduler" message="tns:ICeitconServer_CheckUploadSceduler_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/CheckUploadScedulerResponse" message="tns:ICeitconServer_CheckUploadSceduler_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPreviosOffSet">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/GetPreviosOffSet" message="tns:ICeitconServer_GetPreviosOffSet_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/GetPreviosOffSetResponse" message="tns:ICeitconServer_GetPreviosOffSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadScedulerCDP">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/UploadScedulerCDP" message="tns:ICeitconServer_UploadScedulerCDP_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/UploadScedulerCDPResponse" message="tns:ICeitconServer_UploadScedulerCDP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadScedulerChunk">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/UploadScedulerChunk" message="tns:ICeitconServer_UploadScedulerChunk_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/UploadScedulerChunkResponse" message="tns:ICeitconServer_UploadScedulerChunk_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearDictory">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/ClearDictory" message="tns:ICeitconServer_ClearDictory_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/ClearDictoryResponse" message="tns:ICeitconServer_ClearDictory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadSceduler">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/UploadSceduler" message="tns:ICeitconServer_UploadSceduler_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/UploadScedulerResponse" message="tns:ICeitconServer_UploadSceduler_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSceduler">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/DeleteSceduler" message="tns:ICeitconServer_DeleteSceduler_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/DeleteScedulerResponse" message="tns:ICeitconServer_DeleteSceduler_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSceduler">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/GetSceduler" message="tns:ICeitconServer_GetSceduler_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/GetScedulerResponse" message="tns:ICeitconServer_GetSceduler_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllScedulers">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/GetAllScedulers" message="tns:ICeitconServer_GetAllScedulers_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/GetAllScedulersResponse" message="tns:ICeitconServer_GetAllScedulers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/LoginUser" message="tns:ICeitconServer_LoginUser_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/LoginUserResponse" message="tns:ICeitconServer_LoginUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/UpdateUser" message="tns:ICeitconServer_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/UpdateUserResponse" message="tns:ICeitconServer_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/DeleteUser" message="tns:ICeitconServer_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/DeleteUserResponse" message="tns:ICeitconServer_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/GetGroups" message="tns:ICeitconServer_GetGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/GetGroupsResponse" message="tns:ICeitconServer_GetGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNetwork">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/GetNetwork" message="tns:ICeitconServer_GetNetwork_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/GetNetworkResponse" message="tns:ICeitconServer_GetNetwork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateNetwork">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/UpdateNetwork" message="tns:ICeitconServer_UpdateNetwork_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/UpdateNetworkResponse" message="tns:ICeitconServer_UpdateNetwork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteNetwork">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/DeleteNetwork" message="tns:ICeitconServer_DeleteNetwork_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/DeleteNetworkResponse" message="tns:ICeitconServer_DeleteNetwork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPlayerName">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/CheckPlayerName" message="tns:ICeitconServer_CheckPlayerName_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/CheckPlayerNameResponse" message="tns:ICeitconServer_CheckPlayerName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPlayerExist">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/CheckPlayerExist" message="tns:ICeitconServer_CheckPlayerExist_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/CheckPlayerExistResponse" message="tns:ICeitconServer_CheckPlayerExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckFreeLicence">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/CheckFreeLicence" message="tns:ICeitconServer_CheckFreeLicence_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/CheckFreeLicenceResponse" message="tns:ICeitconServer_CheckFreeLicence_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerName">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/GetPlayerName" message="tns:ICeitconServer_GetPlayerName_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/GetPlayerNameResponse" message="tns:ICeitconServer_GetPlayerName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerInfo">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/GetPlayerInfo" message="tns:ICeitconServer_GetPlayerInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/GetPlayerInfoResponse" message="tns:ICeitconServer_GetPlayerInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistratePlayer">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/RegistratePlayer" message="tns:ICeitconServer_RegistratePlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/RegistratePlayerResponse" message="tns:ICeitconServer_RegistratePlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerStatus">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/UpdatePlayerStatus" message="tns:ICeitconServer_UpdatePlayerStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/UpdatePlayerStatusResponse" message="tns:ICeitconServer_UpdatePlayerStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerRefresh">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/GetPlayerRefresh" message="tns:ICeitconServer_GetPlayerRefresh_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/GetPlayerRefreshResponse" message="tns:ICeitconServer_GetPlayerRefresh_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayerRefresh">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/UpdatePlayerRefresh" message="tns:ICeitconServer_UpdatePlayerRefresh_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/UpdatePlayerRefreshResponse" message="tns:ICeitconServer_UpdatePlayerRefresh_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWeathers">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/GetWeathers" message="tns:ICeitconServer_GetWeathers_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/GetWeathersResponse" message="tns:ICeitconServer_GetWeathers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistredPlayerCount">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/RegistredPlayerCount" message="tns:ICeitconServer_RegistredPlayerCount_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/RegistredPlayerCountResponse" message="tns:ICeitconServer_RegistredPlayerCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerLicence">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/GetPlayerLicence" message="tns:ICeitconServer_GetPlayerLicence_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/GetPlayerLicenceResponse" message="tns:ICeitconServer_GetPlayerLicence_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisconnectPlayer">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/DisconnectPlayer" message="tns:ICeitconServer_DisconnectPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/DisconnectPlayerResponse" message="tns:ICeitconServer_DisconnectPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopPlayer">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/StopPlayer" message="tns:ICeitconServer_StopPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/StopPlayerResponse" message="tns:ICeitconServer_StopPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSources">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/GetDataSources" message="tns:ICeitconServer_GetDataSources_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/GetDataSourcesResponse" message="tns:ICeitconServer_GetDataSources_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertDataSource">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/InsertDataSource" message="tns:ICeitconServer_InsertDataSource_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/InsertDataSourceResponse" message="tns:ICeitconServer_InsertDataSource_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDataSource">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/UpdateDataSource" message="tns:ICeitconServer_UpdateDataSource_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/UpdateDataSourceResponse" message="tns:ICeitconServer_UpdateDataSource_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDataSource">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/DeleteDataSource" message="tns:ICeitconServer_DeleteDataSource_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/DeleteDataSourceResponse" message="tns:ICeitconServer_DeleteDataSource_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataRecords">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/GetDataRecords" message="tns:ICeitconServer_GetDataRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/GetDataRecordsResponse" message="tns:ICeitconServer_GetDataRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLogo">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/UpdateLogo" message="tns:ICeitconServer_UpdateLogo_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/UpdateLogoResponse" message="tns:ICeitconServer_UpdateLogo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLogo">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/DeleteLogo" message="tns:ICeitconServer_DeleteLogo_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/DeleteLogoResponse" message="tns:ICeitconServer_DeleteLogo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogos">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/GetLogos" message="tns:ICeitconServer_GetLogos_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/ICeitconServer/GetLogosResponse" message="tns:ICeitconServer_GetLogos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>